---
import Icon from "@/components/ui/icons/Icon.astro"
import MainLayout from "@/layouts/MainLayout.astro"

---

<MainLayout title="Términos y condiciones">
  <a class="fixed left-4 flex gap-1 items-center font-bold md:text-xl bg-white p-3 rounded-xl" href="/"> <Icon name="arrowLeftStatic" />
    Atrás</a>
    <div class="max-w-5xl mx-auto p-6  mt-10  mb-10 text-black dark:text-white rounded-lg">
      <h1 class="text-2xl font-bold mb-4">Términos y Condiciones - GoGo</h1>
      <p class="mb-4">Bienvenido(a) a GoGo, una plataforma virtual diseñada para ayudarte a tener un mejor control y mantenimiento de tus vehículos...</p>
      
      <h2 class="text-xl font-semibold mt-6">Uso de la plataforma</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>GoGo es una aplicación móvil y plataforma web...</li>
        <li>La plataforma está diseñada para uso personal y no comercial...</li>
        <li>GoGo se reserva el derecho de modificar, suspender o interrumpir la plataforma...</li>
      </ul>
      
      <h2 class="text-xl font-semibold mt-6">Términos</h2>
      <ul class="list-disc list-inside space-y-2">
        <li><strong>GoGo:</strong> Sociedad identificada con la razón social LOBI CAR S.A.S...</li>
        <li><strong>Plataforma:</strong> Es un sistema o infraestructura en línea...</li>
      </ul>
      
      <h2 class="text-xl font-semibold mt-6">Responsabilidades del usuario</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>El usuario acepta que es responsable de la exactitud de la información proporcionada...</li>
        <li>El usuario reconoce que GoGo brinda consejos de mantenimiento preventivo...</li>
      </ul>
      
      <h2 class="text-xl font-semibold mt-6">Privacidad y seguridad</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>GoGo se compromete a proteger la privacidad y seguridad de los datos personales...</li>
      </ul>
      
      <h2 class="text-xl font-semibold mt-6">Propiedad intelectual</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>GoGo es titular de todos los derechos de propiedad intelectual...</li>
      </ul>
      
      <h2 class="text-xl font-semibold mt-6">Modificaciones de los términos y condiciones</h2>
      <p>GoGo se reserva el derecho de modificar estos términos en cualquier momento...</p>
      
      <h2 class="text-xl font-semibold mt-6">Ley aplicable y jurisdicción</h2>
      <p>Estos términos y condiciones se rigen por las leyes de la República de Colombia...</p>
    </div>
</MainLayout>